# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# JavaScript and HTML files
[*.{js,html}]
indent_style = space
indent_size = 4

# JSON files
[*.json]
indent_style = space
indent_size = 2
insert_final_newline = false
